/* flex helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.display-none{
    display:none
}


/* FONTS */

@font-face {
    font-family: impact;
    src: url(/font/impact/impact.ttf);
  }
  
  @font-face {
    font-family: comic;
    src: url(/font/comic/ComicNeue-Regular.ttf);
  }
  
  @font-face {
    font-family: vardana;
    src: url(/font/vardana/verdana.ttf);
  }
  @font-face {
    font-family: montserrat;
    src: url(/font/montserrat/Montserrat-Regular.ttf);
  }
  
